.aboutContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 6rem;
}

.aboutMe {
  display: flex;
  flex-direction: column;
}

.aboutHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutH1 {
  font-family: "espiritu-script", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #5886a1;
  font-size: 2.4rem;
  margin: 0;
  padding: 0rem 0.5rem;
  flex-grow: 1;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
}

.aboutText {
  color: lightgray;
  margin-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.skillsHeader {
  display: flex;
  flex-direction: row;
  /* border: 1px solid gray; */
  width: 100%;
}

.aboutSkills {
  display: flex;
  flex-direction: column;
}

.svgLine {
  margin: auto;
  flex-grow: 30;
}

.skillsText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 4rem;
}

.goldLine {
  stroke: #e3a03b;
  stroke-width: 3;
}

.skill {
  font-family: "espiritu", sans-serif;
  color: lightgray;
  font-size: 1.1rem;
  /* border: 1px solid gray; */
  margin-right: 1.5rem;
  padding: 0.5rem;
}

.resumeDiv {
  background-color: #161e2b;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 2rem;
}

.resumeDiv:hover {
  box-shadow: 0px 1px 10px #e3a03b;
  scale: 1.1;
}

.resumeH1:hover {
  text-decoration: underline;
}

.resumeH1 {
  font-family: "espiritu", sans-serif;
  text-transform: uppercase;
  /* font-weight: 600; */
  font-style: normal;
  color: #5886a1;
  font-size: 1.6rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .aboutContainer {
    margin: 1.5rem;
  }

  .aboutSkills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .aboutHeader {
    display: flex;
    flex-direction: column;
  }

  .svgLine {
    width: 100%;
    padding: 0rem 0.5rem;
  }

  .aboutContent {
    width: 100%;
    margin: 1rem;
  }

  .aboutText {
    margin: 0;
    padding: 10px 30px 10px 0px;
  }

  .skillsHeader {
    display: flex;
    flex-direction: column;
  }

  .skillsContent {
    margin: 0rem 1rem;
  }

  .skillsText {
    padding: 0rem;
    margin: 0;
  }

  .skill {
    margin: 0;
  }
}
