.aboutContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}

.aboutMe {
  display: flex;
  flex-direction: row;
}

.aboutHeader {
  flex-wrap: nowrap;
  width: 30%;
}

.aboutH1 {
  font-family: "espiritu-script", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #5886a1;
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  margin: 1.8rem 2rem;
  border-top: 1px solid #e3a03b;
  padding: 20px;
}

.aboutText {
  color: lightgray;
  margin: 10px 10px;
  font-size: 1.1rem;
}

/* .aboutSkills {
  display: flex;
  flex-direction: row;
}

.skillsText {
  display: flex;
  flex-direction: row;
}

.skillsText h4 {
  color: lightgray;
  margin: 10px;
}

.skillsHeader {
  width: 30%;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 1.8rem;
  border-top: 1px solid #e3a03b;
  padding: 20px;
} */

.aboutSkills {
  display: grid;
  grid-template-columns: 1fr 12fr;
  gap: 1.5rem;
}

/* .skillsHeader {
  border: 1px solid gray;
} */

.skillsContent {
  border-top: 1px solid #e3a03b;
  margin-top: 2rem;
  /* padding-top: 1.5rem; */
}

.skillsText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.goldLine {
  fill: #e3a03b;
}

.skill {
  font-family: "espiritu", sans-serif;
  color: lightgray;
  font-size: 1.1rem;
  /* border: 1px solid gray; */
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  padding: 0.5rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .aboutSkills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .skillsContent {
    margin-top: 1rem;
  }

  .skillsText {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .skill {
    margin: 0;
  }
}
