.projectBody {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 6rem; */
}

.projDetails {
  margin: 0 auto;
  padding: 0;
}

.detailsBody {
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 1rem;
}

.projTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 80%;
  margin: 0 auto;
}

.projTitle h1 {
  font-family: "espiritu-script", sans-serif;
  color: #97a77d;
  font-size: 3rem;
}

.projTitle h2 {
  margin-left: 1rem;
  font-family: "espiritu", sans-serif;
  font-size: 3rem;
  color: #5886a1;
}

.wip {
  margin-left: 1rem;
  color: #5886a1;
  font-style: italic;
}

.projDetails {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.projPic {
  position: relative;
  width: 40%;
  height: 400px;
  margin-top: 1rem;
}

.projImg {
  object-fit: contain;
  position: relative;
  width: 300px;
  height: 300px;
}

.techInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.techImg {
  position: relative;
  width: 5rem;
  height: 3rem;
}

.techInfo p {
  margin-left: 1rem;
}

.techLogoImg {
  position: relative;
  object-fit: contain;
  border-radius: 20px;
}

.projInfo {
  width: 55%;
  margin-top: 1rem;
  margin-left: 2rem;
}

.projInfo h3 {
  font-family: "espiritu-script", sans-serif;
  color: #97a77d;
  font-size: 2.2rem;
}

.infoP {
  color: lightgray;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.buttons a {
  text-decoration: none;
  color: #5886a1;
}

.projLink {
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "espiritu", sans-serif;
  text-transform: uppercase;
  color: #5886a1;
  background-color: #000c20;
  margin-left: 1.5rem;
}

.projLink p {
  align-self: center;
  margin-left: 0.5rem;
  color: #5886a1;
}

.gitLink {
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "espiritu", sans-serif;
  text-transform: uppercase;
  color: #5886a1;
  background-color: #000c20;
  margin-right: 1.5rem;
}

.gitLink p {
  margin-left: 0.5rem;
  color: #5886a1;
}

.projLink:hover {
  scale: 1.1;
  box-shadow: 0px 0px 10px #e3a03b;
}

.gitLink:hover {
  scale: 1.1;
  box-shadow: 0px 0px 10px #e3a03b;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0rem;
    padding-left: 0rem;
  }

  .projTitle h2 {
    margin-left: 0rem;
    font-size: 1.8rem;
    max-width: 100%;
  }

  .projDetails {
    display: flex;
    flex-direction: column;
  }

  .projPic {
    width: 100%;
    margin-top: 1rem;
  }

  .projImg {
    object-fit: cover;
  }

  .projInfo {
    width: 100%;
    margin: 0;
  }

  .buttons {
    justify-content: center;
  }

  .projLink,
  .gitLink {
    margin: 1rem;
  }
}
