.projBody {
  background-image: linear-gradient(
    to right top,
    #000c20,
    #0a1628,
    #111d30,
    #192538,
    #212d40
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.categories {
  display: flex;
  flex-direction: row;
  margin: 2rem 3rem;
  justify-content: space-around;
}

.categories h1 {
  font-weight: 400;

  margin: 0;
}

.categories h2 {
  font-weight: 400;
  font-style: normal;

  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.projCat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projCatTop {
  position: relative;
  font-family: "espiritu-script", sans-serif;
  color: #97a77d;
}

.projCatBottom {
  font-family: "espiritu", sans-serif;
  text-transform: uppercase;
  color: #5886a1;
}

.projCardContainer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin: 0rem 2rem;
}
